<TMPL_LOOP NAME="LOOP_FOO"> 
    <TMPL_LOOP NAME="LOOP_BAR"> 
        <TMPL_VAR NAME="FOO" ESCAPE="HTML"> 
        <TMPL_VAR NAME="BAR" ESCAPE="JS"> 
    </TMPL_LOOP> 
</TMPL_LOOP> 

<TMPL_LOOP NAME="LOOP_FOO"> 
    <TMPL_LOOP NAME="LOOP_BAR"> 
        <TMPL_VAR NAME="BASH" ESCAPE="URL"> 
    </TMPL_LOOP> 
</TMPL_LOOP> 
